{
  "extends": [
    "standard"
  ],
  "plugins": [
    "standard",
    "promise",
    "react",
    "react-hooks",
    "mocha"
  ],
  "env": {
    "mocha": true,
    "node": true
  },
  "rules": {
    "require-await": "error",
    "standard/no-callback-literal": 0,
    "mocha/no-exclusive-tests": "error",
    "mocha/no-global-tests": "error",
    "mocha/no-nested-tests": "error",
    "mocha/no-identical-title": "error",
    "mocha/no-sibling-hooks": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "globals": {
    "$": true,
    "expect": true,
    "sinon": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
