<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" user-scalable="no" content="width=device-width, initial-scale=1.0" , maximum-scale="1">
  <meta name="theme-color" content="black">
  <title>Синергия Плюс</title>
  <link rel="shortcut icon" href="./src/images/favicon.ico" />
  <link rel="manifest" href="./manifest.json">
  <link type="text/css" rel="stylesheet" rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
</head>

<body>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v2.9";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <div>
    <!--  Navigation Bar    -->
    <nav id="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Начало</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarButtons" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarButtons">
          <ul class="nav navbar-nav navbar-right">
            <li id="navAbout" class="btn navbar-btn navActive">За нас</li>
            <li id="navNews" class="btn navbar-btn">Новини</li>
            <!--<li id="navAdvantages" class="btn navbar-btn">Предимства</li>-->
            <!--<li id="navServices" class="btn navbar-btn">Услуги</li>
                        <li id="navCourses" class="btn navbar-btn">Обучения</li>
                        <li id="navDiplomas" class="btn navbar-btn">Дипломи</li>-->
            <!--<li id="navTeam" class="btn navbar-btn">Екип</li>-->
            <li id="navCarriers" class="btn navbar-btn">Кариери</li>
            <li id="navContact" class="btn navbar-btn">Контакти</li>
          </ul>
        </div>
      </div>
    </nav>
    <!--  Top page image    -->
    <div class="parallaxTop">
      <div class="jumboBanner shadow">
        <h1 class="banner">Учебен център "Синергия Плюс"</h1>
        <h3 class="motto">
          <p>"Помагаме на хората да инвестират в бъдещето си. А ти помисли ли за своето?"</p>
          <p>"По-скъпо от времето няма! Инвестирай в своето бъдеще, инвестирай в образованието си!"</p>
        </h3>
        <button id="bannerBtn" class="bannerBtn">Научете повече</button>
      </div>
    </div>
    <!--  Main content   -->
    <!--  About row      -->
    <div id="aboutBlock" class="container show">
      <div id="aboutRow">
        <div class="aboutLeft col-xs-12 col-sm-1 cloak">
          <div class="row">
            <div class="aboutImg col-md-12">
              <!--<div class="fb-page" data-href="https://www.facebook.com/SinergiaPlusCentre/" data-tabs="timeline" data-small-header="false"
                                data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/SinergiaPlusCentre/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SinergiaPlusCentre/">Учебен център Синергия плюс</a></blockquote>
                            </div>-->

              <!--<div class="fb-page" data-href="https://www.facebook.com/SinergiaPlusCentre/" data-width="380" data-hide-cover="false" data-show-facepile="false"></div>-->
              <div style="width: 600px;">
                <!-- Page plugin's width will be 500px -->
                <div class="fb-page" data-href="https://www.facebook.com/SinergiaPlusCentre/" data-width="500"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="aboutRight col-xs-12 col-sm-11">
          <div class="col-md-5">
          </div>
          <div class="col-md-7">
            <h2>Синергия Плюс</h2>
            <hr />
            <p class="text-justify">Учебен център "СИНЕРГИЯ ПЛЮС" провежда корпоративни квалификационни обучения на заети лица, за големи търговски
              вериги и производствени предприятия. Работим за промяната към общество, в което хора, групи и организации работят
              заедно и активно участват в развитието на България, предоставяйки образователни услуги на деца и възрастни,
              консултиране, подготовка и управление при кандидатстване за еврофинансиране. Реализираме проекти съвместно
              с Агенцията по заетостта по ОП „Развитие на човешките ресурси” като доставчик на обучение с ваучери. Курсовете
              за деца от 1-ви до 4-ти клас се провеждат в Детски център "МРАВЧО" създаден към "СИНЕРГИЯ ПЛЮС", за да превърне
              посещенията, на вашето дете при нас, в истинско приключение.</p>
            <p>
          </div>
        </div>
      </div>
    </div>
    <!--  News row      -->
    <div id="newsBlock" class="show">
      <div id="newsRow" class="parallaxSection">
        <div class="shadowSection">
          <h2>Новини</h2>
          <hr />
        </div>
      </div>
      <div id="newsBlocks">
        <div class="container">
          <div class="col-md-1"></div>
          <div class="newsBlock col-md-10">
            <div class="row">
              <span class="col-xs-2"><p>13.06.2017</p></span>
              <span class="col-xs-10 text-justify">
                                <p>Агенцията по заетостта стартира от 15.06.2017 г. прием на заявления по проект „Ваучери за заети
                                лица”, съфинансиран от Европейския социален фонд на Европейския съюз чрез Оперативна програма
                                „Развитие на човешките ресурси” 2014-2020. Право да подават заявления имат заети лица, които
                                са на трудов договор в предприятия извън държавната администрация и имат средна или по-ниска
                                степен на образование.<br /> Операцията ще предостави възможност на заетите да придобият
                                нови или да разширят знанията и уменията си чрез придобиване на квалификация и ключови компетенции.
                                Общият размер на безвъзмездната финансова помощ по е 50 млн. лв.<br /> Желаещите да участват
                                в проекта ще имат възможност да преминат професионално обучение и/или обучение за придобиване
                                на ключова компетентност с ваучери съгласно ПМС № 280/2015г. Обучението по ключова компетентност
                                може да бъде общуване на чужди езици – КК 2 или дигитална компетентност – КК 4. Безвъзмездното
                                финансиране по проекта е в размер на 85% от стойността на ваучера, а останалите 15% се доплащат
                                от обучаваното лице.<br /> За целите на проекта е разработена услуга, даваща възможност на
                                заетите лица да подават своето заявление по електронен път, без да е необходимо да посещават
                                бюрата по труда, само в работни дни между 8.30 и 17.00 часа. Заявления ще се приемат и на
                                хартиен носител, лично във всички Дирекции „Бюра по труда” в страната. Срокът за прием на
                                заявления е до изчерпване на финансовия ресурс по проекта. Очакванията са, че с планираните
                                средства около 54 хиляди души ще могат да повишават квалификацията си.<br /> Заявление на
                                хартиен носител може да намерите тук: https://www.az.government.bg/pages/vaucheri-za-zaeti-lica/
                                </p>
                            </span>
            </div>
            <hr />
            <div class="row">
              <span class="col-xs-2"><p>01.05.2017</p></span>
              <span class="col-xs-10 text-justify">
                                <p>За всички потребители на Facebook Учебен център СИНЕРГИЯ ПЛЮС създаде своя страница. В интернет пространството, всички почитатели ще могат да създават дискусии, да задават въпроси и да получават отговори, да споделят опит и полезна информация. Присъединете се и вие към Учебен център СИНЕРГИЯ ПЛЮС, за да Ви бъдем полезни. https://www.facebook.com/SinergiaPlusCentre/</p>
                            </span>
            </div>
            <hr />
            <div class="row">
              <span class="col-xs-2"><p>27.04.2017</p></span>
              <span class="col-xs-10 text-justify font-inline">
                                <p>Учебен център СИНЕРГИЯ ПЛЮС е единственият работодател с одобрена заявка от Агенция по заетостта чрез Дирекция Бюро по труда – гр. Русе, на който са отпуснати средства за ползване на преференции по насърчителни мерки по реда на ЗНЗ и провеждане на пилотно дуално обучение. В СИНЕРГИЯ ПЛЮС ще се проведе обучение чрез работа в партньорство с Център за професионално обучение към “Бейском” ООД с Лицензия № 200612314, издадена от НАПОО и Дирекция Бюро по труда - гр. Русе. Дуалното обучение е изцяло нова учебна система за България, с влязлата в сила от 11 септември 2015г. Наредба №1, която предоставя следните</p>
                                <p class="font-bold font-inline">предимства за обучаемите</p>:
                                <br />
                                <ul>
                                    <li>Обучаемият работи на различни позиции в предприятието и опознава работата в отделните цехове и отдели</li>
                                    <li>Обучаемият редува занятията и практическата работа и с това получава съответно разнообразие и мотивация</li>
                                    <li>Придобиваните в центъра знания много скоро след това се допълват от реален практически опит и съответно се адаптират към него</li>
                                    <li>Обучаваните получават заплащане по време на обучението си</li>
                                </ul>
                                <p class="font-bold font-inline">Предимства за предприятието</p>:
                                <br />
                                <ul>
                                    <li>Предприятието, в което се извършва обучението, се запознава с теоритичните и практически умения на обучаемия </li>
                                    <li>Ако обучаемият остане на работа в предприятието, не е необходимо допълнително обучение за работата, която ще изпълнява</li>
                                    <li>Обучените вече са придобили всеобхватни познания за различните цехове и отдели на предприятието</li>
                                </ul>
                            </span>
            </div>
            <hr />
            <div class="row">
              <span class="col-xs-2"><p>02.02.2017</p></span>
              <span class="col-xs-10 text-justify">
                                <p>СИНЕРГИЯ ПЛЮС е доставчик на услуги от Агенцията по заетостта за обучения по ключови компетентности с Ваучери на Оперативна програма „Развитие на човешките ресурси” 2014 - 2020. https://www.az.government.bg/pages/dostavchik-na-obuchebie-ophrd-2014-2020/
                                </p>
                            </span>
            </div>
            <hr />
            <div class="row">
              <span class="col-xs-2"><p>28.12.2016</p></span>
              <span class="col-xs-10 text-justify">
                                <p>Учебен център СИНЕРГИЯ ПЛЮС е регистриран като администратор на лични данни, което гарантира сигурност при обработката на личните Ви данни, тяхната защита и невъзможност от наличие на злоупотреба с тях. Вашите данни няма да бъдат използвани по никакъв начин за други цели. http://www.cpdp.bg/?p=element&aid=220
                                </p>
                            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Advantages row      -->
    <!--<div id="advantagesBlock" class="show">
            <div id="advantagesRow" class="parallaxSection">
                <div class="shadowSection">
                    <h2>Предимства</h2>
                    <hr />
                </div>
            </div>
            <div id="advantagesBlocks" class="row">
                <div class="container">
                    <div class="col-md-1"></div>
                    <div class="advantagesBlock col-md-10">
                        <p>предимства бла-бла</p>
                    </div>
                </div>
            </div>
        </div>-->
    <!--  Carriers info      -->
    <div id="carriersBlock" class="show">
      <div id="carriersRow" class="parallaxSection">
        <div class="shadowSection">
          <h2>Кариери</h2>
          <hr />
        </div>
      </div>
      <div id="cariersBlocks">
        <div class="container">
          <div class="col-md-2"></div>
          <div class="carriersBlock col-md-10">
            <div class="row">
              <p class="text-center">Ако Вие търсите среда на доказани професионалисти, които са горди да видят резултатите от своите усилия и ако
                Вие искате да се усъвършенствате, обичате динамичната и променяща се среда и сте част от тези, които правят
                промените реални и успешни, то тогава можете да се присъедините към нашия преподавателски и административен
                екип.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Contact form      -->
    <div id="phoneContact" class="phoneContact row">
      <div class="container">
        <h2>Свържете се с нас на телефон: +359 889 11 77 42</h2>
      </div>
    </div>
    <div class="container">
      <div id="contactFormID" class="contactForm row">
        <h2>Контактна форма</h2>
        <hr />
        <h3>Въведете своите данни и съобщение</h3>
        <form class="form-group" action="" method="POST">
          <input id="name" name="name" class="inputInline form-control" type="text" placeholder="Име" required />
          <input id="email" name="email" class="inputInline form-control" type="email" placeholder="e-mail" required />
          <textarea id="message" name="message" class="form-control" placeholder="Съобщение" required></textarea>
          <input class="bannerBtn" type="submit" value="Изпратете съобщението" />
        </form>
      </div>
    </div>
    <!--  Address info      -->
    <div id="contactInfo" class="row">
      <div class="container">
        <div class="contactStack col-md-4">
          <h4>Адрес</h4>
          <p>7002, гр. Русе</p>
          <p>ул. "Цар Шишман" №3</p>
          <p>(До старата поща)</p>
        </div>
        <div class="contactStack col-md-4">
          <h4>Работно време</h4>
          <p>понеделник - петък: 7:30 - 17:30</p>
          <p>събота и неделя: почивни дни</p>
        </div>
        <div class="contactStack col-md-4">
          <h4>Контакти</h4>
          <p>тел.: +359 889 11 77 42</p>
          <p>e-mail офис: office@sinergiaplus.eu</p>
          <p>e-mail управител: eleonora@sinergiaplus.eu</p>
        </div>
      </div>
    </div>
    <!--  Copyright    -->
    <div id="copyright" class="row">
      <div class="container">
        <div id="socialBtn">
          <a href="https://www.facebook.com/pg/SinergiaPlusCentre" target="blank" class="social"><img id="facebook"></a>
          <!--<a href="#" class="social"><img id="twitter"></a>
                <a href="#" class="social"><img id="linkedin"></a>-->
        </div>
        <p>&copy; 2017 - Учебен център "Синергия Плюс". Всички права запазени. Designed and created by Nikolay Ivanov
        </p>
      </div>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>

</html>
